.form{
  
  width: 50vw;
  text-align: center;
  margin:auto;
  margin-top:5%;
}

.fakeName{
  margin-top:5%;
  color:red;
  font-size:20px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: rgb(129, 117, 117);
  text-align: center;
}